<div class="row">
  <div class="large-4 large-centered columns">

    <%= form_for @itinerary do |f| %>

      <%= f.fields_for :locations do |lf| %>
        <%= lf.text_field :address, placeholder: "City" %>
      <% end %>

      <div class="actions">
        <%= f.submit 'Go', class: "button radius tiny right" %>
      </div>
      
    <% end %>
    
  </div>
</div>
