<script>
var map = L.map('map')
var bounds = <%= @bounds %> //=> [[lat0, lng0], [lat1, lng1]]
padded = L.latLngBounds( bounds ).pad(0.042) // returns bigger bounds
map.fitBounds(padded)

marker = L.marker(bounds[0]).addTo(map)
marker = L.marker(bounds[1]).addTo(map)

L.tileLayer('http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
          attribution: 'Map Data &copy; <a href="http://openstreetmap.org">OSM</a>',
          maxZoom: 20
      }).addTo(map)
</script>